<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Джанго приложения</title>
</head>
<body>

    <header>
        <h1>Главная страница</h1>
    </header>

    <main>
        {% if charcode %}
            <h2>Курс валюты {{ charcode }} на момент {{ date }} составляет {{ rate }}</h2>
        {% else %}
            <h2>Валюта не обнаружена</h2>
        {% endif %}
    </main>

    <footer>
        <p>&copy; 2024 Мой веб-сайт.</p>
    </footer>

</body>
</html>
